@use './../../../../styles/variables';
@use './../../../../styles/functions';

:host {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  padding: functions.space(4) functions.space(2) functions.space(2) functions.space(2);
  background-color: variables.$primary-color;

  &__nav {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  &__logo {
    height: functions.to-rem(40px);
    width: auto;
  }

  &__icon {
    display: block;
    width: functions.to-rem(40px);
    height: functions.to-rem(40px);
    fill: variables.$secondary-color;
    transition: fill 0.2s ease-in;

    &:hover,
    &:focus {
      fill: functions.darken(variables.$secondary-color);
    }
  }
}
