@if (userRole$ | async; as role) {
  <div class="ticket-list">
    <div class="ticket-list__header">
      <h1 class="ticket-list__title" [class.ticket-list__title--admin]="role === 'ADMIN'">
        Lista de incidencias
      </h1>

      <div class="filter-button" (click)="showFilters()">
        <p class="filter-button__text">Filtrar</p>
        <svg class="filter-button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M1,4.75H3.736a3.728,3.728,0,0,0,7.195,0H23a1,1,0,0,0,0-2H10.931a3.728,3.728,0,0,0-7.195,0H1a1,1,0,0,0,0,2ZM7.333,2a1.75,1.75,0,1,1-1.75,1.75A1.752,1.752,0,0,1,7.333,2Z"
          />
          <path
            d="M23,11H20.264a3.727,3.727,0,0,0-7.194,0H1a1,1,0,0,0,0,2H13.07a3.727,3.727,0,0,0,7.194,0H23a1,1,0,0,0,0-2Zm-6.333,2.75A1.75,1.75,0,1,1,18.417,12,1.752,1.752,0,0,1,16.667,13.75Z"
          />
          <path
            d="M23,19.25H10.931a3.728,3.728,0,0,0-7.195,0H1a1,1,0,0,0,0,2H3.736a3.728,3.728,0,0,0,7.195,0H23a1,1,0,0,0,0-2ZM7.333,22a1.75,1.75,0,1,1,1.75-1.75A1.753,1.753,0,0,1,7.333,22Z"
          />
        </svg>
      </div>

      <a
        class="open-ticket open-ticket--desktop"
        [class.open-ticket--hidden]="role !== 'CLIENT'"
        routerLink="/ticket/create"
        >+ Abrir incidencia</a
      >
    </div>

    <div class="ticket-list__list">
      @for (ticket of tickets$ | async; track ticket.ticket_id) {
        <app-ticket class="ticket-list__ticket" [ticket]="ticket"></app-ticket>
      } @empty {
        <p class="ticket-list__list--empty">No se han encontrado incidencias</p>
      }
    </div>

    <a
      class="open-ticket open-ticket--phone"
      [class.open-ticket--hidden]="role !== 'CLIENT'"
      routerLink="/ticket/create"
    >
      <svg class="open-ticket__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M17,11H13V7a1,1,0,0,0-1-1h0a1,1,0,0,0-1,1v4H7a1,1,0,0,0-1,1H6a1,1,0,0,0,1,1h4v4a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1V13h4a1,1,0,0,0,1-1h0A1,1,0,0,0,17,11Z"
        />
      </svg>
    </a>
  </div>
}
