@use 'variables';
@use 'functions';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  height: 100%;
  line-height: 1.5;
  font-family: variables.$font-family;
  font-size: functions.to-rem(14px);
  color: variables.$text-color;
  background-color: variables.$secondary-color;
  cursor: default;
}
