@use './../../../../../styles/functions';
@use './../../../../../styles/variables';

:host {
  display: flex;
  flex: 1;
}

.profile {
  display: flex;
  flex: 1;

  @media screen and (width >= variables.$tablet-threshold) {
    flex-direction: row;
    gap: functions.space(2);
  }

  &__sidebar {
    display: none;

    @media screen and (width >= variables.$tablet-threshold) {
      display: flex;
      flex: 0 0 400px;
    }

    &--is-menu {
      display: flex;
      flex: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    &--is-menu {
      display: none;

      @media screen and (width >= variables.$tablet-threshold) {
        display: none;
      }
    }
  }
}
