<div class="form-container">
  <h1 class="title">Iniciar Sesión</h1>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form__field">
      <label class="form__label" for="email">Correo electrónico</label>
      <input class="form__input" id="email" type="email" formControlName="email" maxlength="100" />
      @if (hasErrors('email', 'required')) {
        <span class="form__error">El correo electrónico es obligatorio</span>
      }
      @if (hasErrors('email', 'email')) {
        <span class="form__error">El correo electrónico no es válido</span>
      }
      @if (hasErrors('email', 'maxlength')) {
        <span class="form__error">Has superado el límite de caracteres</span>
      }
    </div>

    <div class="form__field">
      <label class="form__label" for="password">Contraseña</label>
      <input
        class="form__input"
        id="password"
        type="password"
        formControlName="password"
        maxlength="100"
      />
      @if (hasErrors('password', 'required')) {
        <span class="form__error">La contraseña es obligatoria</span>
      }
      @if (hasErrors('password', 'maxlength')) {
        <span class="form__error">Has superado el límite de caracteres</span>
      }
    </div>

    <div class="form__field">
      <button class="form__submit" type="submit">Iniciar sesión</button>
    </div>
  </form>

  <p class="extra-form">
    ¿Aún no tienes cuenta? <a class="extra-form__link" routerLink="/auth/register">Registrate</a>
  </p>
</div>
