<div class="form-container">
  <h1 class="form-container__title">Editar datos</h1>

  <form class="form" [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
    <div class="form__field" [class.form__field--error]="hasAnyError('oldPassword')">
      <input
        class="form__input form__input--text"
        id="oldPassword"
        type="password"
        formControlName="oldPassword"
        maxlength="100"
        placeholder=" "
      />
      <label class="form__label" for="oldPassword">Antigua contraseña</label>
      @if (hasErrors('oldPassword', 'required')) {
        <span class="form__error">La antigua contraseña es obligatoria</span>
      } @else if (hasErrors('oldPassword', 'maxlength')) {
        <span class="form__error">Has superado el límite de caracteres</span>
      }
    </div>

    <div class="form__field" [class.form__field--error]="hasAnyError('newPassword')">
      <input
        class="form__input form__input--text"
        id="newPassword"
        type="password"
        formControlName="newPassword"
        maxlength="100"
        placeholder=" "
      />
      <label class="form__label" for="newPassword">Nueva contraseña</label>
      @if (hasErrors('newPassword', 'required')) {
        <span class="form__error">La nueva contraseña es obligatoria</span>
      } @else if (hasErrors('newPassword', 'maxlength')) {
        <span class="form__error">Has superado el límite de caracteres</span>
      }
    </div>

    <div class="form__field" [class.form__field--error]="hasAnyError('confirmPassword')">
      <input
        class="form__input form__input--text"
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        maxlength="100"
        placeholder=" "
      />
      <label class="form__label" for="confirmPassword">Repetir nueva contraseña</label>
      @if (hasErrors('confirmPassword', 'required')) {
        <span class="form__error">La confirmación de la contraseña es obligatoria</span>
      } @else if (hasErrors('confirmPassword', 'maxlength')) {
        <span class="form__error">Has superado el límite de caracteres</span>
      } @else if (hasErrors('confirmPassword', 'passwordMismatch')) {
        <span class="form__error">Las contraseñas no coinciden</span>
      }
    </div>

    <div class="form__field">
      <button class="form__submit" type="submit">Cambiar contraseña</button>
    </div>
  </form>
</div>
