@use './../../../../../styles/functions';
@use './../../../../../styles/variables';

.ticket-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: functions.space(2);
  align-items: start;
  grid-template-areas:
    'list'
    'pagination';

  @media screen and (width >= variables.$desktop-threshold) {
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'filters list'
      'filters pagination';
  }

  &__filters {
    grid-area: filters;
    display: none;

    @media screen and (width >= variables.$desktop-threshold) {
      display: block;
      position: sticky;
      top: functions.to-rem(95px); // Height of the header for the correct sticky behaviour
      max-height: calc(100vh - 95px);
      overflow-y: auto;
    }

    &--show {
      @media screen and (width >= variables.$desktop-threshold) {
        display: block;
      }
    }
  }
  &__ticket-list {
    grid-area: list;
  }
  &__pagination {
    grid-area: pagination;
  }
}
